<%- include('header') %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="col-md-12 m-2">Sign up</h1>
        <form class="py-3 px-2 mt-4 shadow border" method="POST" enctype="multipart/form-data">
          <div class="p-1 mb-2">
            <% if(errors){ errors.forEach((err) => {%>
              <span class="alert alert-danger"><%= err.msg %></sppan>
            <% }) }%>
          </div>
          <div class="form-group">
            <label>username</label>
            <input class="form-control" name="username" type="text"/>
          </div>
          <div class="form-group">
            <label>email</label>
            <input class="form-control" name="email" type="email"/>
          </div>
          <div class="form-group">
            <label>password</label>
            <input class="form-control" name="password" type="password"/>
          </div>
          <div class="form-group">
            <label>info</label>
            <textarea class="form-control" name="info" type="info"></textarea>
          </div>
          <div class="form-group">
            <label>image</label>
            <input class="form-control" name="pic" type="file" accept="image/*" />
          </div>
          <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Sign Up" />
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include('footer') %>
